.post1 {
  background-color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post2 {
  background-color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post3 {
  background-color: green;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about {
  background-color: orange;
}

h1.heading {
  text-align: center;
}

h2.odd {
  background-color: black;
  width: 100%;
  color: white;
}
